<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @person.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @person.last_name %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @person.notes %>
</p>

<p>
	<strong>Events:</strong>
</p>

<!-- <%= render 'person_events', :locals => { :events => @person.events } %> -->
<table border="0" cellspacing="5" cellpadding="5">
	<tr>
		<th>Event</th>
		<th>Distance</th>
		<th>Description</th>
	</tr>

<%= render :partial => 'person_event', :collection => @person.events, :as => :event %>

</table>


<%= link_to 'Add Event', new_person_event_path(@person) %> |
<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
